@page "/Principal"
@using TransTokAPI.Services
@inject TikTokTranscriber Transcriber

<h3>Transcripción de TikTok</h3>

<input @bind="videoUrl" placeholder="Introduce la URL del video de TikTok" />
<button @onclick="TranscribeAudio">Transcribir</button>


@if (!string.IsNullOrEmpty(transcriptionResult))
{
    <p><strong>Transcripción:</strong></p>
    <p>@transcriptionResult</p>
}

@code {
    private string videoUrl;
    private string transcriptionResult;

    private async Task TranscribeAudio()
    {
        Console.WriteLine("Método TranscribeAudio ejecutado.");

        if (string.IsNullOrWhiteSpace(videoUrl))
        {
            transcriptionResult = "Por favor, introduce una URL válida.";
            return;
        }

        try
        {
            transcriptionResult = "Transcribiendo...";
            transcriptionResult = await Transcriber.TranscribeTikTokAudio(videoUrl);
        }
        catch (Exception ex)
        {
            transcriptionResult = $"Error al transcribir: {ex.Message}";
        }
    }

}
